{template header}
<div class="subtitle" align="center">{lang valid}</div>

<!--
<p><img border="0" src="img/story_0.gif" style="align:center"></p>
-->

<p align="center">
	“你就是今天预定到来的转学生？<br />
	“我是你的班主任——任林田。<br />
	“嘿嘿，你很懂挑学校嘛！<br />
	“无论如何先填好你的资料吧。”<br /></p>


	<form method="post"  action="valid.php" name="valid">
		<input type="hidden" name="mode" value="enter"> {lang name} : $username <br />
		<center>
		{template useradvdata}
		{template usercarddata}
		</center>
		<!--{if $stime>$now}--><span class="orange">{$std}开始才可再使用S级身份卡</span><br><!--{/if}-->
		<!--{if $atime>$now}--><span class="linen">{$atd}开始才可再使用A级身份卡</span><br><!--{/if}-->
		<!--{if $btime>$now}--><span class="brickred">{$btd}开始才可再使用B级身份卡</span><br><!--{/if}-->
		<br />
		<input type="submit" name="enter" value="{lang submit}">
		<input type="reset" name="reset" value="{lang reset}">
	</form>
	<br />
{template footer}